body {
  background: #000;
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 700px;
  max-width: 90vw;
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
  border: 6px solid #fff;
  box-sizing: border-box;
}

.card-label {
  position: absolute;
  top: 24px;
  right: 3px;
  background: rgba(100, 100, 100, 0.7);
  color: #fff;
  font-size: 2rem;
  padding: 0.1em 0.7em;
  border-radius: 3px;
  font-weight: 300;
}

.card-title {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.2em 0.3em;
  background: linear-gradient(0deg, rgba(0,0,0,0.7) 40%, rgba(26, 26, 26, 0) 100%);
  font-weight: 300;
  text-shadow: 0 2px 8px rgba(0,0,0,0.7);
}
